@page
@model Ecommerce.Pages.Category.CreateModel
@{
}

<h1>
    <span class="me-2">
        Create Category
    </span>
    <span>
        <i class="bi bi-xbox"></i>
    </span>
</h1>

<form method="post">
    <fieldset>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            <label class="form-label mt-4">Name</label>
            <input class="form-control" placeholder="Enter Name" asp-for="Category.Name">
            <span asp-validation-for="Category.Name" class="text-danger mt-1"></span>
        </div>
        <div>
            <label class="form-label mt-4">Display Order</label>
            <input class="form-control" placeholder="Enter Display Order" asp-for="Category.DisplayOrder">
            <span asp-validation-for="Category.DisplayOrder" class="text-danger mt-1"></span>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a class="btn btn-light" asp-page="/Category/Index" >Back to list</a>
        </div>
    </fieldset>
</form>